{% extends 'main/base.html'%}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<section id="dashboard-product">
  {%include 'include/user-info.html'%}
  <div class="body-area">
    <h1>Product Update</h1>
    
    <main class="table">
      <section class="table__header"> </section>
      <section class="table__body"> 
        <div class="form-view">
          <div class="record-line">
            Record no {{data.id}}

          </div>
          
          <form action="/app_product/apiclass-ProductUpdateView/{{data.id}}" method="POST"  >
            {%csrf_token%}
            {%include 'app_product/form-fields-product.html'%}
            
            <button type="submit" value="put">Submit</button>

          </form>

        </div>
 
      </section>
      {% include 'include/error-messeges.html'%}
    </main>
  </div> 
</section>


<link rel="stylesheet" href="{% static 'css/app-product.css' %}">

{% endblock %}