

{% load static %}

  <div class="dashboard-user">

    <div class="card" >
  
  
      <h3 style="text-align : center;">User Profile</h3>
      
      <hr>

      <div class="image-div">
        <img class="profile-pic" src="{{request.user.userprofile.avatar.url}}" alt="profile pic">
      
      </div>

      
    
      <div class="card-body">
        <h5 class="card-title">Username :  {{request.user}}</h5>
        
      </div>
  
    </div>
  
  
  
  </div>

<link rel="stylesheet" href="{% static 'css/home.css' %}">