{% load static %}
<div class="menu-btn">
  <i class="fas fa-bars"></i>
</div>

<div class="side-bar">

  <div class="close-btn">
    <i class="fas fa-times"></i>

  </div>

  <div class="menu">

    {% if user.is_authenticated %}
      {% if not user.user.new_user %}
        {% if perms.app_booking.view_room %}  
        <!-- document entries -->
        <div class="item ">
          <a class="sub-btn">
            <!-- inserting google icons material-symbols-outlined -->
            <span class="material-symbols-outlined icon1-submenu">post_add</span>
          &nbsp;
          Entries
            <i class="fas fa-angle-right dropdown"></i>
          </a>
          <div class="sub-menu">
            <div class="item ">
              <a href="{% url 'app_booking:RoomList'%}" class="sub-item">Room List</a>  
            </div> 
            {% if perms.app_articles.view_article %}  
              {% if perms.app_articles.add_article %}  

              <div class="item ">
                <a href="{% url 'app_articles:article_create' %}" class="sub-item">Create Article</a>  
              </div>    
              {% endif%}

              
            <div class="item ">
              <a href="{% url 'app_articles:dashboard_articles'%}" class="sub-item">Articles</a>  
            </div>                

            <div class="item ">
              <a href="{% url 'api:articleListMixin' %}" class="sub-item">Articles using mixins</a>  
            </div>                
            {% endif %}     
              
          </div>

        </div>  
        {% endif %}
        {% if perms.app_mail.add_emaildb %} 
        <div class="item ">
          <a class="sub-btn">
            <!-- inserting google icons material-symbols-outlined -->
            <!-- <span class="material-symbols-outlined icon1-submenu">post_add</span> -->
          &nbsp;
          Email***
        
            <i class="fas fa-angle-right dropdown"></i>
          </a>
          <div class="sub-menu">
            {% if perms.app_mail.add_emaildb %}  
            <div class="item ">
              <a href="{% url 'app_mail:email_me' %}" class="sub-item">Create Email</a>  
            </div> 
            {%endif %}
            {% if perms.app_mail.delete_emaildb %}  
            <div class="item ">
              <a href="{% url 'app_mail:email-list-view' %}" class="sub-item">View  Email Dashboard</a>  
            </div> 
            {%endif %}
            
          </div>
        </div>            
        {%endif %}

        {% if user.user.Programmers %}
          <div class="item ">
            <a class="sub-btn">
              <!-- inserting google icons material-symbols-outlined -->
              <!-- <span class="material-symbols-outlined icon1-submenu">post_add</span> -->
            &nbsp;
            Programmers Sample
              <i class="fas fa-angle-right dropdown"></i>
            </a>
            <div class="sub-menu">

                            
              <div class="item ">
                <a href="{% url 'app_product:product-dashboard' %}" class="sub-item">product Dashboard</a>  
              </div> 
              <div class="item ">
                <a href="{% url 'app_product:apiclass-ProductView' %}" class="sub-item">product Dashboard- classbased</a>  

              </div> 

              {% if perms.app_product.view_product  %} 
              <div class="item ">
                <a href="{% url 'api:premiumProducts' %}" class="sub-item">test api</a>  
              </div> 

              <div class="item ">
                <a href="{% url 'api:BlogPost' %}" class="sub-item">api BlogPost</a>  
              </div> 
             

              {% endif %}
              
            </div>
          </div>  
          

          {% if perms.app_blog.view_post  %} 
          <div class="item ">
            <a class="sub-btn">
              <!-- inserting google icons material-symbols-outlined -->
              <!-- <span class="material-symbols-outlined icon1-submenu">post_add</span> -->
            &nbsp;
            Blogs***
              <i class="fas fa-angle-right dropdown"></i>
            </a>
            <div class="sub-menu">
            
              <div class="item ">
                <a href="{% url 'app_blog:postDashboard' %}" class="sub-item">Blog Dashboard</a>  
              </div> 
              generic-getProductList
            </div>
          </div>            
          {%endif %}

          joven *** permission : {{perms.user}}            
          



        {% endif%}  
        <div class="item ">
          <a class="sub-btn">
            <!-- inserting google icons material-symbols-outlined -->
            <!-- <span class="material-symbols-outlined icon1-submenu">post_add</span> -->
          &nbsp;
          Members***
            <i class="fas fa-angle-right dropdown"></i>
          </a>
          <div class="sub-menu">
            
            <div class="item ">
              <a href="{% url 'app_members:membersDashboard' %}" class="sub-item">Members Dashboard</a>  
            </div> 

            generic-getProductList
          </div>
        </div>            
            
              
      {% endif%}  

      <div class="item logout">
        <a href="{% url 'accounts:logout-view' %}">
          <i class="fas fa-info-circle"></i>Logout
        </a>
      </div>     
  

    {% else %}
      <div class="item ">
        <a href="{% url 'accounts:login-view' %}"><i class="fa-solid fa-door-open"></i>Login</a>
      </div>      
    {% endif %}  

    <div class="item ">
      <a href="{% url 'accounts:about' %}">
        <i class="fas fa-info-circle">
          
        </i>About</a>
    </div>          

  </div>

</div>
  
<script type="text/javascript">
  $(document).ready(function(){
    // jquery for toggle menu
    $('.sub-btn').click(function(){
      // e.preventDefault();
      $(this).next('.sub-menu').slideToggle();
      $(this).find('.dropdown').toggleClass('rotate');


    })

    $('.menu-btn').click(function(){
      $('.side-bar').addClass('active');
      $('.menu-btn').css("visibility","hidden")

    })

    $('.close-btn').click(function(){
      $('.side-bar').removeClass('active')
      $('.menu-btn').css("visibility","visible")

    })
  

  })


</script>

<link rel="stylesheet" href="{% static 'css/custom-sidebar.css' %}">
