section{
  /* background-color: rgb(226, 208, 208); */
  height :90vh;
  margin : 3rem 5rem;
  overflow :hidden;
}
main.table{
  /* background-color: rgba(127, 255, 212, 0.423) !important; */
  height :80vh;
}

.card-image{
  height :8rem;
  width : 8rem;
  border-radius: 5px;;
}
.table__body .card{
  background-color: azure;
  margin:1rem 1rem;
  display:inline-flex;
  flex-wrap: wrap;
  /* flex-wrap: wrap; */
  justify-content:space-evenly;
  align-items: center;
  align-content: center;

}
.table__body .card .card-image{
  margin-bottom :5px;
}

.table__body .card .card-body{
  background-color: rgb(210, 191, 191);
  border-radius: 5px;

}


#article_deail-view .body-area{
  display : block;
  padding : 1rem 1rem;
  justify-content: center;
}

#article_deail-view .detail-body{
  color : black;
  display : flex;
  
}
.detail-body-item{
  margin :1rem 1rem;
}
#article_list main .table__header{
  /* background-color: aquamarine; */
  display : block;
  margin : 0;
  height : 10vh;
}

@media (max-width:700px) {
  section {
    margin :0;
    margin-top :2rem;
  }
  #article_deail-view .body-area{
    margin:auto;
  }
  
  #article_deail-view .detail-body{
  
  display : block;
    
  }
  .detail-body-item.detail-body-image{
    justify-content: center;
    
    

  }
}