section #article-detail-view {
  margin :.5rem;
}

#article-detail-view .body-area{
  background-color: var(  --body-area-article);
  margin-top : 2rem; 
  padding : .5rem;
  /* margin :5px ; */
  
  color : black;
  border-radius: 15px;

  
}
.detail-area  {
  /* background-color: pink; */
  display : block;
  padding :1em 1em;
  width : 100%;

 

}
.detail-title h3{
  color : rgb(175, 97, 97);
  font-size : 20px;  
}
.detail-body{
  /* background-color:  rgb(205, 205, 128); */
  color : rgba(45, 28, 28, 0.658);
  font-size : 16px;  
  font-weight:500;
}  
.detail-body .article-image-img{
  border-radius: 10px;
}
.detail-body-text{
  color : white;
  /* background-color: coral; */
}

/* #=========== */

/* break points for small devices */
/* small devices */
@media screen and (min-width:390px) {

  .detail-area  {
    
    /* background-color: aqua; */
    display : block;
  }
  .detail-body{
    display : block;
  }  

  #article-detail-view .body-area{
    margin : auto 3rem; 
    margin-top : 2rem;
  } 
}

/* medium devices */
@media screen and (min-width:700px) { 
.detail-area  {
  
    /* background-color: rgb(155, 169, 90); */
    display : block;
    
  }
  .detail-body{
    display : flex;
    justify-content: center;
    
    align-items:flex-start
  }  
  .detail-body .container{
    width :40%;
  }
  .detail-body .article-image-img {
    width : 100%;
  }
  .detail-body-text {
    width:100%
  }
  #article-detail-view .body-area{
    margin : auto 5rem;
    margin-top :2rem;
  }


}


/* large devices */
@media screen and (min-width:1120px) { 

  #article-detail-view .body-area{
    margin : auto 10rem;
    
  }

}
