
#home .sidebar-area{
  background-color: rgb(230, 190, 190);
}
#home .dashboard-user .card{
  background-color: rgb(235, 183, 161);
  border-radius: 10px;
  
}

#home  .dashboard-user {
  justify-content: space-evenly;
  margin :10px 10px;
} 



#-------


#home .gen-info .card{
  background-color: beige;
  margin-bottom : 5px;
  
}
#home .gen-details .card{
  margin-bottom : 1em;
  background-color: rgb(160, 160, 114);
}
.user-profile{
  background-color: rgb(212, 212, 177);
  margin-top :1rem;
}  
.user-profile h4{
  display : flex;
  justify-content: center;
  align-items: center;
}
.profile-photo{
  display:flex;
  justify-content: center;
  margin-top :1rem;
  
}
.card-body-username{
  color : rgb(78, 53, 10);
  display:flex;
  justify-content: center;

}

.profile-photo img{
  width: var(  --home_image_size );
  height: var(  --home_image_size );
  -webkit-border-radius: var(  --home_image_size );
  -webkit-background-clip: padding-box;
  -moz-border-radius: var(  --home_image_size );
  -moz-background-clip: padding;
  border-radius: var(  --home_image_size );
  background-clip: padding-box;
  margin: 7px 0 0 5px;
  float: left;
}


#home .detail-area{
 
  display : block;
}
#home .gen-info{
  background-color: rgba(255, 228, 196, 0.478);
  display : flex;
  
}

#home .dashboard-details,
#home .dashboard-info{
  display : flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}

#home .gen-details{
  background-color: rgba(125, 182, 172, 0.478);
  display : flex;
  flex-wrap: wrap;
}


@media (max-width:700px){
  #home .dashboard-user .card{
    background-color: rgb(168, 73, 33);
    border-radius: 10px;
    
  }
 

}
@media (max-width:500px){ 
  #home .dashboard-user{
    width: 100%
  }
  #home .dashboard-user .card{
    background-color: rgb(135, 186, 59);
    border-radius: 10px;
    width :80% !important;
    
  }
}
