{% extends  'main/base.html' %}
{% load static %}

{% block content %}
<section id="article_dashboard">
  
  <div class="body-area">
    <main class="table">
      <section class="table__header"> 
        <div class="sec-title">
          <h4 >My Articles</h4>
        </div>

      </section>
      <section class="table__body">
        <div class="article-items">
          {% for item in data %}
          <div class="card" >
            <div class="card-image">
              <img class="card-image" src="{{item.thumb}}" alt="Card image cap">
            </div>
       
            <div class="card-body">
              <h5 class="card-title">{{item.title}}</h5>
              
              <p class="card-text"> {{item.snippet}}</p>
              
              <div class="article-footer">

                {% if perms.app_articles.view_article %}  
                <div class="view-article-btn">
                  <a class='btn btn-mybtn'  href="#" >View Article xxx</a> 
                </div>
                {% endif %}

                {% if perms.app_articles.delete_article %}  
                <div class="view-article-btn">
                  <a class='btn btn-mybtn'  href="#" >Delete</a> 
                </div>
                {% endif %}
      

              </div>
    
            </div>
        
          </div>
          {% endfor %}
    
        </div>
  
      </section>
    </main>


    
  </div>


</section>

<link rel="stylesheet" href="{% static 'css/app-articles.css' %}">

{% endblock %}
